{{ define "main" }}

<section class="section case-details">
  
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-10 offset-lg-1 text-center">
        <div class="case-details-title">
          <h1>{{ .Title }}</h1>
        </div>
        <p>
          {{ .Params.shortDescription }}
        </p>
        <div class="case-details-info">
          <div class="case-details-info-item">
            <h5 class="text-light">Client</h5>
            <p>{{ .Params.client }}</p>
          </div>
          <div class="case-details-info-item">
            <h5>Service</h5>
            <p>{{ .Params.service }}</p>
          </div>
          <div class="case-details-info-item">
            <h5>Date</h5>
            <p>{{ .PublishDate.Format "January 2, 2006" }}</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-6">
            <div class="case-details-service">
              <h3>Challenge</h3>
              <p>
                {{ .Params.challenge }}
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="case-details-service">
              <h3>Solution</h3>
              <p>
                {{ .Params.solution }}
              </p>
            </div>
          </div>
        </div>
        <div class="case-details-thumb mb-5">
          <img src="{{ .Params.thumbnail | absURL }}" alt="case-details" />
        </div>
        {{ .Content }}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <nav class="case-details-nav d-flex justify-content-between align-items-center">
          {{ if .PrevInSection }}
          <div class="previous d-flex align-items-center">
            <div class="icon mr-3">
              <svg xmlns="https://www.w3.org/2000/svg" width="15.556" height="28.285" viewBox="0 0 15.556 28.285">
                <g data-name="Group 1243" fill="#2d2d2d">
                  <path data-name="Path 1456" d="M3.391 12.728l9.75 14.142-.982 1.414-9.742-14.142z" />
                  <path data-name="Path 1455" d="M13.137 1.41L3.39 15.558l-.975-1.415L12.166 0z" />
                </g>
              </svg>
            </div>
            <div class="content">
              <span class="small">Prev case</span>
              <h5 class="title"><a class="text-dark"
                  href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a></h5>
            </div>
          </div>
          {{ end }}
          <div class="social">
            {{ $url := printf "%s" .Permalink | absLangURL }}
            <ul class="unstyle-list big">
              <li>
                <a href=" https://www.facebook.com/sharer/sharer.php?u={{ $url }}"><i
                    class="fa fa-facebook-official btn-zoom"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ $url }}"><i
                    class="fa fa-linkedin-square btn-zoom"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/intent/tweet?&url={{ $url }}"><i
                    class="fa fa-twitter-square btn-zoom"></i></a>
              </li>
            </ul>
          </div>
          {{ if .NextInSection }}
          <div class="next d-flex align-items-center">
            <div class=" content text-right">
              <span class="small">Next case</span>
              <h5 class="title">
                <a class="text-dark" href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}</a>
              </h5>
            </div>
            <div class="icon ml-3">
              <svg xmlns="https://www.w3.org/2000/svg" width="15.556" height="28.285" viewBox="0 0 15.556 28.285">
                <g data-name="Group 1244" fill="#2d2d2d">
                  <path data-name="Path 1456" d="M12.162 12.725L2.416 26.87l.978 1.41 9.746-14.138z" />
                  <path data-name="Path 1455" d="M2.416 1.415l9.743 14.141.975-1.414L3.39 0z" />
                </g>
              </svg>
            </div>
          </div>
          {{ end }}
        </nav>
      </div>
    </div>
  </div>
</section>


{{ end }}